#
# This is an editorconfig file. EditorConfig allows teams to have consistent
# editor standards regardless of environment, tools or workflow.
# Some editors have built-in support, some need a plugin, but nearly all can
# work with EditorConfig in some way.
#
# See editorconfig.org for more details.
#

#
# Specifies that this directory is the root of the project
#
root = true

#
# Settings for the entire project, all files (think "default")
#
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

#
# Below I've outlined multiple groups of types of files that are mostly related
# and likely will want to have the same settings for each type. In each case I've
# *tried* to replicate the pattern that already exists in this repo, but there are
# inconsistencies in some places (which is why EditorConfig exists).
#
# While some of these could be combined for "DRY" purposes, I have them separated
# so that each can be tweaked easily without impacting the other groups.
#

#
# Specifically for HTML and friends
#
[{*.html,*.htm,*.xml,*.xhtml,*.dtd}]
indent_style = space
indent_size = 4

#
# CSS and friends
#
[{*.css,*.scss}]
indent_style = space
indent_size = 2

#
# For TypeScript, JavaScript
#
[{*.ts,*.js}]
indent_style = tab
indent_size = 4

#
# For Go code
#
[{*.go,go.mod}]
indent_style = tab
indent_size = 4

#
# For the project Makefile
#
[Makefile]
indent_style = tab
indent_size = 2
